[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
opencv-python = "*"
imutils = "*"
argparse = "*"
numpy = "*"
scikit-image = "*"

[requires]
python_version = "3.8"
